.Home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assert/OrphanagesImg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Lato", sans-serif;
  height: 520px;
  padding-top: 80px;
}
.text {
  padding: 170px;
  text-align: center;
  color: #ffffff;
  line-height: 35px;
  font-size: 22px;
}
@media screen and (max-width: 600px) {
  .Home {
    width: 138%;
    background-size: cover;
  }
  .text {
    padding: 20px;
    line-height: 30px;
    font-size: 16px;
    padding-top: 120px;
  }
}
